<div class="task-box-container">
    <div class="task-box">
        <ul>
            <li 
                class="task-item" 
                *ngFor="let task of taskList"
                [ngClass]="{'editing': task.id === editingTask.id}">

                <input 
                    class="task-checkbox"
                    type="checkbox" 
                    [checked]="task.isCompleted"
                    (change)="toggleStatusInService(task)"
                >
                
                <label 
                    class="task-label"
                    [ngClass]="{'completed': task.isCompleted, 'incompleted': !task.isCompleted}"
                    (dblclick)="setTaskInEditMode(task)">{{ task.text }}
                </label>
            </li>
        </ul>
    </div>
    
    <ng-container *ngIf="isEditing">
        <input 
            class="edit-input"
            #editInput
            [value] = 'editingTask.text'
            (keyup.enter)="changeTaskNameInService()"
        >
    </ng-container>
</div>