<div class="task-box-container">
    <div class="task-box">
        <ul>
            <li *ngFor="let task of taskList"
                class="task-item" 
                [ngClass]="{'editing': task.id === editingTask.id}">

                <input 
                    class="task-checkbox"
                    type="checkbox" 
                    [checked]="task.isCompleted"
                    (change)="toggleStatusInService(task)"
                >

                <ng-container *ngIf="editingTask.id !== task.id; else editMode">
                    <label 
                        class="task-label"
                        [ngClass]="{'completed': task.isCompleted, 'incompleted': !task.isCompleted}"
                        (dblclick)="setTaskInEditMode(task)">
                        {{ task.text }}
                    </label>
                    <div class="task-actions">
                        <button 
                        class="edit-button"
                        (click)="setTaskInEditMode(task)"
                        >
                        </button>
                        <button 
                            class="destroy-button"
                            (click)="removeTaskFromService(task.id)"
                            >
                        </button>
                    </div>
                </ng-container>

                <ng-template #editMode>
                    <input 
                        class="edit-input"
                        #editInput
                        [value] = 'editingTask.text'
                        (keyup.enter)="changeTaskNameInService()"
                        (blur)="changeTaskNameInService()"
                    >
                </ng-template>
            </li>
        </ul>
    </div>
</div>